

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #0c2e8a;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #50d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 18px 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background:#fcfdfd;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #50d8af;
}

#header #logo img {
  padding: 0;
  margin: 0;
}



/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: auto !important;
  height: auto !important;
  position: relative;
  background-size: cover;
}

#intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#intro .intro-content h2 {
  color: #0c2e8a;
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 767px) {
  #intro .intro-content .intro-btn a {
    font-size: 6px;
    padding: 5px 12px;
  }
}
@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 30px;
  }
}


#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}

#intro .intro-content .btn-get-started,
#intro .intro-content .btn-service {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 1px;
  transition: 0.5s;
  margin: 5px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 3px solid #0c2e8a;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#intro .intro-content .btn-service {
  background: #50d8af;
  border: 3px solid #50d8af;
}

#intro .intro-content .btn-service:hover {
  background: none;
  color: #50d8af;
}

#intro #carouselExampleSlidesOnly {
  z-index: 8;
}

#intro #carouselExampleSlidesOnly::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%; 
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #carouselExampleSlidesOnly .carousel-item {
  width: auto !important;
  height: auto !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}
 #carouselExampleSlidesOnly{

  background-color: rgba(255, 255, 255, 0.7); 
}

#intro .intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.navbar-nav, .navbar-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.navbar-nav li {
  position: relative;
  white-space: nowrap;
}

.navbar-nav li:hover > ul,
.navbar-nav li.sfHover > ul {
  display: block;
}

.navbar-nav > li {
  margin-left: 10px;
}

.navbar-nav ul {
  margin: 4px 0 0 0;
  padding: 8px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.navbar-nav ul li {
  transition: 0.3s;
}

#navbarNav .navbar-nav ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 16px;
  text-transform: none;
  text-align: left;
}


/* new menu bar*/
#navbar{
  background-color: #fff;
  z-index: 999;
 font-family: 'Times New Roman', Times, serif;
 line-height: 2.5;
 
  
}
#navbarNav {
  text-align: left;
  font-size: 20px;
  
}

.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #838383;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
  text-decoration: none;
  background-color: #f6f6f6;
}






/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: #0c2e8a;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #50d8af;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

/* About Section
--------------------------------*/

#about {
  padding: 60px 0 30px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}



#about .content h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}


/* services Section
--------------------------------*/

#services {
  padding: 20px;
}

#services .services-info {
  margin-bottom: 20px;
  text-align: center;
}

#services .services-info p {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  color: #50d8af;
}
#services .services-info p {
  margin-bottom: 0;
  color: #555;
}

#services .services-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#services .services-info a {
  color: #0c2e8a;
}

#services .services-info a:hover {
  color: #50d8af;
}

#services .services-bullvpn,
#services .services-vpn4games,
#services .services-pingbooster {
  margin-bottom: 20px;
}

#services .form button[type="submit"] {
  background: #50d8af;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#services .form button[type="submit"]:hover {
  background: #2dc899;
}


/*---------service border------------*/


/* ===== New service ===== */
.services-info {
  margin-bottom: 40px;
  height: auto !important;
  width: auto !important;
}
.services-persec {
    padding-top: 5px;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    font-size: 20px;

}
.services-info > p {
  font-weight: 0;
  font-size: 12px;
  
}


/*  Office
--------------------------------*/

#office {
  background: #fff;
  padding: 30px 0;
}

#office .office-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#office .office-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#office .office-item h2 {
  color: #ffffff;
  font-size: 10px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#office .office-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#office .office-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#office .office-item:hover .office-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#office .office-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*  News
--------------------------------*/

#news {
  padding: 60px 0 30px 0;
}

#news .news-img {
  overflow: hidden;
  text-align: center;
}

#news .news-img img {
  margin-right: right;
  max-width: 100%;
}

#news .news-img h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}



/* Contact Section
--------------------------------*/

#contact {
  padding: 30px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #50d8af;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #50d8af;
}

#contact .contact-address,
#contact .contact-email {
  margin-bottom: 20px;
  
}
#contact .contact-phone{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; 
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #50d8af;
  border: 1px solid #50d8af;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #50d8af;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #2dc899;
}


/* ===== Footer ===== */
footer {
  padding: 40px 0;
  margin-top: 60px;
  background: #e9e9e9 repeat;
  border-top: 1px solid #dcdcdc;
  font-size: 14px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.175);
  width: 100%;
  
}

